<template>
    <div>
        <div class="" style="">
            <LangTabs :locales="locales" :current_locale="currentLocale" @changeLocale="changeLocale"/>

            <div class="relative h-9 flex-no-shrink mb-6 flex justify-between w-full">
                <h1 class="mb-3 text-90 font-normal text-2xl">Settings</h1>

                <router-link :to="routes.addNewGroup" class="btn btn-default btn-primary" dusk="create-button">
                    Create Group
                </router-link>
            </div>

            <Hint v-if="config.hints === '1'"></Hint>
        </div>
        <div class="relative">
            <div class="card mb-6">
                <div class="">
                    <Tabs :routes="routes" :currentGroupId="currentGroupId" :settings="settings" @notification="notification" @getGroups="getGroups" @changeGroup="changeGroup"/>
                </div>
                <div class="flex items-center"></div>
                <ContentSettings :current_locale="currentLocale" :locales="locales" @sortFields="sortFields" @deleteSetting="deleteSetting" :routes="routes" :currentGroupId="currentGroupId" :editor="config.editor" :settings="orderedSettings" @changeValue="changeValue"/>
            </div>
            <div class="card" v-if="settings.length">
                <div class=" flex px-6 border-t border-40 pt-8">
                    <div class="relative h-9 flex-no-shrink flex justify-between w-full">
                        <span class="text-90 font-normal text-2xl">Add Settings</span>
                    </div>
                </div>
                <form id="new_settings"  @submit.prevent >
                    <NewSetting :groups="settings" :new_settings="new_settings" :currentGroupId="currentGroupId" @deleteNewSetting="deleteNewSetting"/>
                </form>
                <div class="flex border-b border-40 px-3 justify-end" resource-id="1" via-resource="" via-resource-id="" via-relationship="">
                    <div class="py-6 px-2 w-1/4">
                        <button @click="addNewSetting" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                            <span class="">Add New</span>
                        </button>
                        <button @click="submitNewSettings" class="btn btn-default btn-primary inline-flex items-center relative" dusk="update-button">
                            <span class="">Add Settings</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import Tabs from './partials/tabs';
import NewSetting from './partials/new_setting';
import ContentSettings from './partials/content_settings';
import LangTabs from './partials/lang_tabs';
import Hint from './partials/hint';

export default {
    data(){
        return{
            showNotification:true,
            currentLocale: '',
            locales: [],
            settings:[],
            routes: {
                getSettings:'/nova-vendor/nova-settings/get-settings',
                addNewGroup:'/nova-settings/add-group',
                deleteGroup:'/nova-vendor/nova-settings/delete-group',
                addNewSettings:'/nova-vendor/nova-settings/add-new-settings',
                moveSetting:'/nova-vendor/nova-settings/move-setting',
                deleteSetting:'/nova-vendor/nova-settings/delete-setting',
                getLanguages:'/nova-vendor/nova-settings/get-languages',
                updateSettingsData:'/nova-vendor/nova-settings/update-settings',
                get_editor:'/nova-vendor/nova-settings/get-editor',
                getConfigData: '/nova-vendor/nova-settings/get-config-data'
            },
            config: {
                editor: 'ckeditor',
                hints: ''
            },
            new_settings : [],
            currentGroupId: '',
            currentGroupIndex: ''
        }
    },
    components:{
        Tabs,
        NewSetting,
        ContentSettings,
        LangTabs,
        Hint

    },
    methods:{
        getGroups(id = false, index = 0){
          axios.get(this.routes.getSettings).then(response=>{
              if(!response.data.length){
                  this.settings = [];
                  return false
              }
              if(!id){
                  this.currentGroupId = response.data[0].id;
              }else{
                  this.currentGroupId = id;
              }

              this.currentGroupIndex = index;

              this.settings = response.data;
          })
        },
        getLanguages(){
            axios.get(this.routes.getLanguages).then(response => {
                this.locales = response.data;
                this.currentLocale = response.data[0];
            }).catch( error => {
                this.notification('Error with getting languages', 'error');
            })
        },
        addNewSetting(){
            this.new_settings.push({name:'',key:'',type:'text_box',group:''});
        },
        deleteNewSetting(index){
            this.new_settings.splice(index,1);
        },
        submitNewSettings(){
            let form = document.getElementById('new_settings');
            let formData = new FormData(form);
            let elements = form.getElementsByClassName('form-input');
            let errors = false;

            Object.keys(elements).forEach((item) => {
                if(elements[item].value === ''){
                    elements[item].classList.add('invalid');
                    this.notification('Please fill correct data to settings', 'error');
                    errors = true;
                }
            })

            if(errors){
                return false;
            }

            axios.post(this.routes.addNewSettings,formData).then(response => {
                this.getGroups(this.currentGroupId);
                this.new_settings = [];
                this.addNewSetting();
            }).catch(error => {
                this.notification(error.response.data, 'error');
            })
        },
        changeGroup(id, index){
            if(!id > 0){
                return false;
            }
            this.currentGroupId = id;
            this.currentGroupIndex = index;
        },
        deleteSetting(key){
          if(key !== ''){
            axios.post(this.routes.deleteSetting,{
                group_id: this.currentGroupId,
                key: key
            }).then(response => {
                this.notification(response.data, 'success');
                this.getGroups(this.currentGroupId);
            }).catch(error => {
                this.notification(error.response.data, 'error');
            })
          }

        },
        changeLocale(locale){
          this.currentLocale = locale;
        },
        changeValue(key, locale, value){
            console.log(this.settings[this.currentGroupIndex].settings_data);

            let item = this.settings[this.currentGroupIndex].settings_data;

            if(typeof item[key].value !== 'object'){
                item[key].value = {};
            }

            if(locale in item[key].value){
                item[key].value[locale] = value;
            }else{
                item[key].value[locale] = value;
            }

            this.settings[this.currentGroupIndex].settings_data = item;
        },
        sortFields(key, groupId, oldIndex, newIndex){
            axios.post(this.routes.moveSetting,{
                key:key,
                groupId:groupId,
                oldIndex:oldIndex,
                newIndex:newIndex
            }).then((response) => {
                this.notification(response.data, 'success');
            }).catch((response) => {
                this.notification(response.data, 'error');
            })
        },
        array_flip( trans )
        {
            var key, tmp_ar = {};

            for ( key in trans )
            {
                if ( trans.hasOwnProperty( key ) )
                {
                    tmp_ar[trans[key]] = key;
                }
            }

            return tmp_ar;
        },
        notification(message, status){
            if(this.showNotification){
                this.$toasted.show(message, { type: status })
            }
            if(this.showNotification){
                this.showNotification = false;

                setTimeout(() => {
                    this.showNotification = true;
                },3000)
            }
        },
        sortProperty(prop){
            return (a,b) => {
                if (a[prop] < b[prop])
                    return -1;
                if (a[prop] > b[prop])
                    return 1;
                return 0;
            }
        },
        getConfigData(){
            axios.get(this.routes.getConfigData).then(response => {
                const data = response.data;

                let hint_exists = false;

                for(let i = 0; i <= data.length - 1; i++){
                    switch (data[i].key) {
                        case 'config_editor':
                            this.config.editor = data[i].value;
                            break;
                        case 'hint_switcher':
                            hint_exists = true;
                            this.config.hints = data[i].value;
                    }
                }

                if(!hint_exists){
                    this.config.hints = 1;
                }

            }).catch(error => {
                this.config.editor = 'ckeditor';
                this.config.hints = 1;
            })
        }
    },
    mounted() {
        this.getGroups();
        this.addNewSetting();
        this.getLanguages();
        this.getConfigData();

        const metas = document.getElementsByTagName('meta');

        let token;
        for (let i = 0; i < metas.length; i++) {
            if (metas[i].getAttribute('name') === 'csrf-token') {
                token = metas[i].getAttribute('content');
            }
        }
        document.getElementById('_token').value = token;


    },
    computed:{
        orderedSettings: function () {

            return Object.keys(this.settings).map((setting)=>{
                if(!typeof this.settings[setting].settings_data === 'object'){

                }else{
                    this.settings[setting].settings_data = Object.keys(JSON.parse(this.settings[setting].settings_data)).map(t => {
                        let setting_item = JSON.parse(this.settings[setting].settings_data)[t];
                        setting_item['key'] = t;
                        return setting_item;
                    }).sort(this.sortProperty('order'))
                }

                return this.settings[setting];
            })
        }
    }
}
</script>

<style scoped>
    .bg-blue-500{
        background-color: #4299e1;
    }
</style>
