<template>
    <div class="language-selector flex justify-end mb-8">
        <div class=" lang-buttons flex justify-center" id="lang_selector" role="group" data-toggle="buttons">
            <div class="save-btn" @click="triggerForm"  v-if="locales.length > 1">
                Save Settings
            </div>
            <div @click="changeLocale(locale)" v-for="locale in locales" :class="{active:current_locale === locale}" class="cursor-pointer uppercase"  v-if="locales.length > 1">
                {{locale}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "lang_tabs",
        props:['locales', 'current_locale'],
        methods:{
            changeLocale(locale){
                this.$emit('changeLocale', locale);
            },
            triggerForm(){
                const form = document.getElementById('update-settings');
                form.submit();
            }
        },
        mounted() {
            var elem = document.getElementById("lang_selector");
            var offset = elem.offsetTop
            window.onscroll = function changeNav(){
                var scrollBarPosition = window.pageYOffset | document.body.scrollTop;

                console.log(offset);
               if(scrollBarPosition >= offset){
                   elem.classList.add('sticky')
               }else{
                   elem.classList.remove('sticky')
               }
            }
        }
    }
</script>

<style scoped>
    .lang-buttons>div{
        padding: 6px 13px;
        font-size: 12px;
        line-height: 1.5;
        background: #22a7f0;

        opacity: 0.9;
        color:#fff;
    }
    .lang-buttons>div:hover{
        opacity: 1;
    }
    .lang-buttons>.active{
        background: #0081ca;
        opacity: 1;
    }
    .language-selector{
        min-height: 29.4px;
        width: 100%;
    }
    .lang-buttons{
        position: static;
        z-index: 100;
        transition: 1s ease;
    }
    .lang-buttons.sticky{
        position: fixed;
        top:0;
        right:50px;
    }
    .lang-buttons .save-btn{
        font-size: 14px;
        visibility: hidden;
        opacity: 0;
        padding: 4px 13px;
        transition: visibility 0.1s ease, opacity 0.1s ease;
        cursor:pointer
    }
    .lang-buttons.sticky .save-btn{
        visibility: visible;
        opacity: 1;
    }
</style>
