<template>
    <div class="remove-bottom-border">
        <portal to="modals">
            <DeleteGroup
                v-if="deleteGroupModalOpen"
                @close="closeGroupModal"
                @confirm="confirmGroupDelete"
            />
        </portal>
        <div class="relationship-tabs-panel overflow-hidden">
            <div v-if="settings.length" class="flex flex-row pt-3 flex flex-wrap">
                <div v-for="(setting, index) in settings" :class="[{ 'border-primary' : currentGroupId===setting.id  }]" @click="changeGroup(setting.id, index)" class="cursor-pointer draggable border-40 tab-item py-5 px-8 focus:outline-none border-b-2 tab cursor-pointer text-grey-black font-bold" :groupId="setting.id" :key="setting.id">
                    {{ setting.group_title }}
                    <div class="delete-table" @click="deleteGroupModal(setting.id)">
                        <img class="delete-table" src="https://img.icons8.com/ios-glyphs/30/000000/delete-sign.png">
                    </div>
                </div>
                <div class="flex-1 border-b-2 border-40"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import DeleteGroup from './modals/delete_group';

    export default {
        name: "tabs",
        props:['settings', 'currentGroupId', 'routes'],
        data(){
            return{
                deleteGroupModalOpen: false,
                deletingGroupId: ''
            }
        },
        components:{
            DeleteGroup
        },
        methods: {
            changeGroup(id, index, value){
                this.$emit('changeGroup', id, index, value);
            },
            closeGroupModal(){
                this.deleteGroupModalOpen = false;
                this.deletingGroupId = '';
            },
            deleteGroupModal(id){
                this.deleteGroupModalOpen = true;
                this.deletingGroupId = id;
            },
            confirmGroupDelete(){
                axios.post(this.routes.deleteGroup,{
                    id:this.deletingGroupId
                }).then( response => {
                    console.log(response.data);
                    this.$emit('notification',response.data,'success');
                    this.deletingGroupId = '';
                    this.deleteGroupModalOpen = false;
                    this.$emit('getGroups');
                }).catch( error => {
                    this.deletingGroupId = '';
                    this.$emit('notification',error.response.data,'success');
                })
            },
            mount(){

            }
        }
    }
</script>

<style scoped>
    .relationship-tabs-panel .text-error{color:var(--danger)}.relationship-tabs-panel .text-error.border-primary{border-color:var(--danger)}.relationship-tabs-panel .card{-webkit-box-shadow:none;box-shadow:none}.relationship-tabs-panel h1{display:none}.relationship-tabs-panel .tab{padding-top:1.25rem;padding-bottom:1.25rem}.relationship-tabs-panel .tab-content>div>.relative>.flex{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;padding-left:.75rem;padding-right:.75rem;position:absolute;top:0;right:0;-webkit-transform:translateY(-100%);transform:translateY(-100%);-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:62px}.relationship-tabs-panel .tab-content>div>.relative>.flex>.mb-6{margin-bottom:0}.relationship-tabs-panel .tab-content>div>.relative>.flex>.w-full{width:auto;margin-left:1.5rem}
    .tab-item{
        position: relative;
    }
    div.cursor-pointer{
        cursor: pointer;
    }
    .tab-item:hover .delete-table{
        opacity:1;
        visibility: visible;
    }
    .delete-table{
        position: absolute;
        top:0px;
        right:0px;
        width: 15px;
        height: 15px;
        padding: 2px;
        visibility:hidden;
        cursor: pointer;
        opacity:0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
</style>
